html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
	font-weight: 300;
}

button{
	border: 1px solid #ADCCF7;
	color: #4884F7;
	background-color: #E9F4FA;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
}